<!-- Header -->
<div id="header">

	<!-- Inner -->
	<div class="inner">
		<header>
			<h1><a href="index" id="logo"><img src="images/logo.png"></a></h1>
			<hr />
			<p>Your Source for Commercial Real Estate News</p>
		</header>
	</div>