<hr />
<div class="row">
	<div class="12u">

		<!-- Contact -->
		<section class="contact">
			<header>
				<h3>Nisl turpis nascetur interdum?</h3>
			</header>
			<p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</section>

		<!-- Copyright -->
		<div class="copyright">
			<ul class="menu">
				<li>&copy; Untitled. All rights reserved.</li>
				<li> Edited by: <a href="http://www.rpatel.me">Ravi</a>, Sebastian </li>
				<li>Theme: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>

	</div>

</div>
</div>
</div>

</div>

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.dropotron.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/jquery.onvisible.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
<script src="js/main.js"></script>

</body>
</html>