<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>LORI Commercial Insider</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="LORI Commercial Insider brings you the latest news and information on the Canadian commercial real estate market in an elegant, easily digestible format.">
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/custom.css"/>
	<link rel="stylesheet" href="css/mobile.css"/>
	<link rel="stylesheet" type="text/css"
		 href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" type="text/css"
	 	href="https://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" type="text/css"
		 	href="https://fonts.googleapis.com/css?family=Lato">
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	<!-- favicon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>


</head>
