<!DOCTYPE HTML>
<html>
<head>
	<title>Lori - Commercial Insider</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/custom.css"/>
	<link rel="stylesheet" type="text/css"
		 href="https://fonts.googleapis.com/css?family=Raleway">
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	<!-- favicon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
</head>