	<!-- Nav -->
		<nav id="nav">
			<div class="container"><a href="https://www.facebook.com/loricommercial/" class="icon-footer fa-facebook" style="margin-top:-2%"><span class="label">Facebook</span></a>
			<a href="https://www.instagram.com/loricommercial/" class="icon-footer fa-instagram" style="margin-top:-2%"><span class="label">Instagram</span></a></div>
		<ul style="margin-left: 150px">
			<li><a href="index">Home</a></li>
			<li><a href="about">About</a></li>
			<li><a href="magazine">The Magazine</a></li>
			<li><a href="blog">Blog</a></li>
			<li><a href="contact">Contact</a></li>
			<!-- <li><a href="right-sidebar">Right Sidebar</a></li> -->
			<!-- <li><a href="no-sidebar">No Sidebar</a></li> -->
		</ul>

	</nav>

</div>

