#about-title {
  margin: 7% 0px 0px 0px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  text-align: center;
}

#contact-title {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 14% 0px 0px 0px;
}

#blog-title {
  margin: 7% 0px 0px 0px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  text-align: center;
}

#magazine-title {
  margin: 4% 0 5% 0;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  text-align: center;
}

.text {
  text-align: center;
  display: block;
  margin: 2em;
}

.icon {
  margin: auto;
  display: block;
}
.icon-footer {
  margin: 5px 20px 5px 20px;
  display: inline-block;
  float: right;
}

.icon-follow {
  width: 3%;
  margin: auto;
  background: none;
  display: block;
  position:relative;
}

.icon-social {
  max-width: 5%;
}

.line {
  padding-top: 2em;
  padding-bottom: 5em;
  width: 40%;
  margin: auto;
  display: block;
}

#form {
  margin: 20em;
}

#submit {
  display: block;
  width: 100%;
}

.privacy-text {
  font-family: Open Sans;
  font-size: 12px;
  margin: 40px 100px 20px 100px;
  text-align:left;
}

.privacy-header b {
  font-family: Open Sans;
  font-size:14px;
  margin: 20px 100px 0px 100px;
  text-align:left;
  color: #b3aca7;
}

 .logo {
   border-radius: 5%;
   max-width: 40%;
 }

 .nav-logo {
   max-width: 15%;
 }

 body.homepage #header .inner:after {
   content: '';
   background: #000;
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
   -ms-transition: opacity 2s ease-in-out;
   transition: opacity 2s ease-in-out;
   -moz-transition-delay: 0s;
   -webkit-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
 }

body.homepage.is-loading #header .inner:after {
 opacity: 1;
}

body.homepage #header:after {
  content: '';
  background: #000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -moz-transition: opacity 2.5s ease-in-out;
  -webkit-transition: opacity 2.5s ease-in-out;
  -ms-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

body.homepage.is-loading #header:after {
 opacity: 1;
}

#instafeed a {
  padding: 10px;
}

#instafeed {
  width: 50%;
  margin: 0 auto;
  margin-top: 75px;
  column-count: 4;
}

#instafeed1 {
  margin: auto;
}

.wrapper.style3 {
  background: #fff;
  margin: 0 0 0 0;
  padding: 6em 0 6em 0;
}

.magcontent {
  min-height: calc(100vh - 50px);
}

.aboutstyle1 {
  background: #e1e1e3;
  display: inline-block;
}

.aboutstyle2 {
  background: #fff;
  display: inline-block;
}

.img-about1 {
  max-width: 40%;
  margin: 2% 7% 2% 2%;
  float: left;
  position: relative;
  display: block;
}

.img-about2 {
  max-width: 40%;
  margin: 2% 2% 2% 7%;
  float: right !important;
  position: relative;
  display: inline-block;
}

.about-text1 {
  margin: 8% 7% 7% 20%;
  display: block;
}

.about-text2 {
  width: 40%;
  margin: 9% 3% 7% 7%;
  float: left;
  display: inline-block;
}

.input {
  font-size: 12px;
}

input::-webkit-input-placeholder {
color: #d5d5d5 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #d5d5d5 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #d5d5d5 !important;
}

input:-ms-input-placeholder {
color: #d5d5d5 !important;
}