<% include ../partials/header.ejs %>


<body class="homepage">
	<div id="page-wrapper">
		<% include ../partials/nav.ejs %>
		<!-- Main -->
		<% include ../partials/about.ejs %>

		<body>
<!----- HEADER START--->
<header id="header">
<div class="content">
<div id="logo"><a href=""> PARALLAX </a></div>
<nav id="nav">
 <ul>
 <li><a href="#slide1" class="active" title="Next Section" >Slide 1</a></li>
 <li><a href="#slide2" title="Next Section">Slide 2</a></li>
 <li><a href="#slide3" title="Next Section">Slide 3</a></li>
 <li><a href="#slide4" title="Next Section">Slide 4</a></li>
 <li><a href="#slide5" title="Next Section">Slide 5</a></li>
 </ul>
</nav>
</div>
</header>

<!----- SLIDES START --->
 <div id="slide1">
 <div class="content">
 <div id="christmas_tree"> </div>
 <div id="snowflakes1"></div>
 <div id="snowflakes2"></div>
 <h2>MERRY</h2>
 <h1>CHRISTMAS</h1>
 <div id="divider"> </div>
 <h3>HAPPY NEW YEAR </h3>
 <div id="ribbon"></div>
 <div id="new_year"> </div>
 </div>
 </div>
 <div id="slide2">
 <div class="content" >
 <div class="quotes_container">
 <h3 class="quotes">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
 <img src="img/dr-seuss.png" align="left"/> <h4 class="author_name_gray">Dr. Seuss </h4>
 </div>
 </div>
 </div>
 <div id="slide3">
 <div class="content">
 <div class="quotes_container">
 <h3 class="quotes">“I truly believe that if we keep telling the Christmas story, singing the Christmas songs, and living the Christmas spirit, we can bring joy and happiness and peace to this world.” </h3>
 <img src="img/norman.png" align="left"/> <h4 class="author_name_white">Norman Vincent Peale </h4>
 </div>
 </div>
 </div>
 <div id="slide4">
 <div class="content">
 <div class="quotes_container">
 <h3 class="quotes">“Christmas doesn't come from a store, maybe Christmas perhaps means a little bit more....” </h3>
 <img src="img/dr-seuss.png" align="left"/> <h4 class="author_name_gray">Dr. Seuss </h4>
 </div>
 </div>
 </div>
 <div id="slide5">
 <div class="content">
 <div class="quotes_container">
 <h3 class="quotes">“My idea of Christmas, whether old-fashioned or modern, is very simple: loving others. Come to think of it, why do we have to wait for Christmas to do that?” </h3>
 <img src="img/bob.png" align="left"/> <h4 class="author_name_white">Bob Hope </h4>
 </div>
 <div id="copyright"><a href="http://1stwebdesigner.com/">Copyright 1stwebdesigner.com </a></div>
 </div>
 </div>
 <!----- SLIDES END --->
</body>
</html>


		<div class="wrapper style1">

			<br/>
			<article id="main" class="">
				<a href="#" class="image featured"><img src="images/about_banner.png" alt="" /></a>

				<p id="about-title"> Who We Are </p>
			  <img class="line" src="/images/line1.png">

			 <br/>
			 	<img class="icon" src="/images/Conference Call Filled-50.png" alt="people icon">

			 <p class="text"><i>Multitenant properties, mortgages, cap rates, economic outlook, industrial space.</i> With so much information &#8212; from types of property to ways to acquire and manage it, not to mention the plethora of macroeconomic factors affecting commercial real estate &#8212; it's easy to be overwhelmed.  LORI Commercial Insider brings you the latest news and information on the Canadian commercial real estate market (<b style="font-size: 18px">L</b>and, <b style="font-size: 18px">O</b>ffice, <b style="font-size: 18px">R</b>etail, and <b style="font-size: 18px">I</b>ndustrial) in a easily digestible, elegant format.
			 	Available as a classic print magazine and accessible online; you'll never miss a thing.
			 </p>
			 <br/>
			 	<img class="icon" src="/images/Truck-52.png" alt="distribution delivery icon">

			 	<p class="text">With access to over <b>48 000</b> commercial investors and over <b>32 000</b> businesses and developers, LORI Commercial Insider reaches homes, businesses, and real estate offices across Ontario. From Niagara and Hamilton to the Greater Toronto Area (GTA), Kitchener-Waterloo (KW) region and Ottawa, the magazine is distributed to individual investors and can also be found in high traffic locations. </p>
			</br>
			 	<img class="icon" src="/images/Handshake-52.png" alt="meeting partner icon">

			 <p class="text" style="margin-bottom:150px"> Want to advertise with us? Know a stellar agent, broker or organization that you'd like us to feature? For more information on advertising, partnerships, or to request our media kit, visit our <a href="contact">Contact Us</a> page.</p>

			 </div>
	 </article>
		</div>
<% include ../partials/footer.ejs %>
