<% include ../partials/header.ejs %>

<body>

		<% include ../partials/nav.ejs %>
		<div class="wrapper style3">
<div class="container"><p id="about-title"> Who We Are </p></div>
<img class="line" src="/images/line1.png">
		<div class="container" style="background: #e5e5e5; margin:0 0 20px 0; display: inline-block;">
				<img style="max-width:40%; margin: 2% 7% 2% 2%; float: left; position: relative;" src="images/toronto-1439133.jpg">
				<p style="margin-left:20%; margin-right:7%; margin-top: 7%; margin-bottom: 7%;"><i>Multitenant properties, mortgages, cap rates, economic outlook, industrial space.</i> With so much information — from types of property to ways to acquire and manage it, not to mention the plethora of macroeconomic factors affecting commercial real estate — it's easy to be overwhelmed. LORI Commercial Insider brings you the latest news and information on the Canadian commercial real estate market (Land, Office, Retail, and Industrial) in a easily digestible, elegant format. Available as a classic print magazine and accessible online; you'll never miss a thing.</p>
			</div>

			<div class="container" style="background: #fff; display: inline-block;">
		<p style="max-width: 40%; float: left; margin-left:7%; margin-right:3%; margin-top: 7%; margin-bottom: 7%;">With access to over <b>48 000</b> commercial investors and over <b>32 000</b> businesses and developers, LORI Commercial Insider reaches homes, businesses, and real estate offices across Ontario. From Niagara and Hamilton to the Greater Toronto Area (GTA), Kitchener-Waterloo (KW) region and Ottawa, the magazine is distributed to individual investors and can also be found in high traffic locations. </p>
		<img style="position: relative; max-width:40%; margin: 20px 20px 20px 0px; float: right;" src="images/pexels-photo-297755.jpeg">
	</div>

	<div class="container" style="background: #e5e5e5; margin: 0 0 0 0; display: inline-block;">
			<img style="position: relative; max-width:40%;  margin: 2% 7% 2% 2%; float: left;" src="images/journals-1031563_1920.jpg">
			<p style="margin-left:20%; margin-right:7%; margin-top: 7%; margin-bottom: 7%; ">Want to advertise with us? Know a stellar agent, broker or organization that you'd like us to feature? For more information on advertising and partnerships visit our <a href="contact">contact us</a> page.
		</div>
</div>

<div class="container" style="margin: -100px 0 0 0;"><p id="about-title"> Follow Us! </p><a href="https://www.instagram.com/loricommercial/"><img class="icon" style="max-width: 3%; margin-top:3%;" src="/images/instagram.png"></a></div>
<div class="container" style="margin: 0 0 100px 0"><% include ../partials/instafeed.ejs %></div>
<% include ../partials/footer.ejs %>
