<% include ../partials/header.ejs %>

<body>

		<% include ../partials/nav.ejs %>
		<div class="wrapper style3">
<div class="container"><p id="about-title"> Who We Are </p></div>
<img class="line" src="/images/line1.png">
		<div class="container" style="background: #e5e5e5; margin:0 0 20px 0; display: inline-block; float: left;">
				<img style="max-width:40%; margin: 20px 20px 20px 20px; float: left; position: relative;" src="images/toronto-1439133.jpg">
				<p style="float: right; position: relative; margin-left: 575px; margin-top: 80px; margin-bottom: 100px; margin-right: 50px"><i>Multitenant properties, mortgages, cap rates, economic outlook, industrial space.</i> With so much information — from types of property to ways to acquire and manage it, not to mention the plethora of macroeconomic factors affecting commercial real estate — it's easy to be overwhelmed. LORI Commercial Insider brings you the latest news and information on the Canadian commercial real estate market (Land, Office, Retail, and Industrial) in a easily digestible, elegant format. Available as a classic print magazine and accessible online; you'll never miss a thing.</p>
			</div>

			<div class="container" style="background: #fff; display: inline-block; float: left;">
		<p style="position: relative; float:left; margin: 90px 0px 0px 0px; margin-left: 50px;">With access to over <b>48 000</b> commercial investors and over <b>32 000</b> businesses and developers,<br> LORI Commercial Insider reaches homes, businesses, and real estate offices across Ontario.<br> From Niagara and Hamilton to the Greater Toronto Area (GTA), Kitchener-Waterloo (KW) region<br> and Ottawa, the magazine is distributed to individual investors and can also be found in high<br> traffic locations. </p>
		<img style="position: relative; max-width:40%; margin: 20px 20px 20px 0px; float: right; margin-right:0px;" src="images/pexels-photo-297755.jpeg">
	</div>

	<div class="container" style="background: #e5e5e5; margin: 0 0 100px 0; display: inline-block; float: left;">
			<img style="position: relative; max-width:40%;  margin: 20px 20px 20px 20px;" src="images/journals-1031563_1920.jpg">
			<p style="position: relative; float:right; margin: 120px 20px 0px 0px; margin-right: 75px;">Want to advertise with us? Know a stellar agent, broker or organization that you'd like us to <br>feature? For more information on advertising and partnerships visit our <a href="contact">contact us</a> page.
		</div>
</div>


<% include ../partials/instafeed.ejs %>
<% include ../partials/footer.ejs %>
