<% include ../partials/header.ejs %>
<body class="homepage">
  <div id="page-wrapper">
    <% include ../partials/nav.ejs %>
    <center><p id="contact-title"> Contact</p></center>
    <img class="line" style="margin-top: -50px;" src="/images/line1.png">

    <center><p class="text" style="font-size: 18px; margin: 0px 0 -30px 0;">We'd love to hear from you!</p>
    <p class="text">To request a media kit please contact:
    <a href="mailto:media@loricommercialinsider.com">media@loricommercialinsider.com</a></p></center>

    <img class="icon" src="/images/paperplane.png" alt="send, deliver" style="margin-top:50px ">

    <center><p class="text" style="margin: 50px  0 0 0;"> For more information or any other inquiries please fill out the form below:</p></center>

    <script src="js/contact.js"></script>
    <form style= "margin-top: 40px" method="post" action="https://formspree.io/contactuslori@gmail.com" id="form">

      <input class="input" id="name" name="name" type="text" placeholder="NAME"/>
      <input class="input" id="email" name="email" type="text" placeholder="E-MAIL"/>
      <input class="input" id="phone" name="phone" type="text" placeholder="PHONE NUMBER"/>
      <input class="input" id="subject" name="subject" type="text" placeholder="SUBJECT"/>
      <textarea style="resize:none" class="input" id="message" name="message" type="text" placeholder="MESSAGE"></textarea>
      <input class="input" type="hidden" name="_next" value="http://www.loricommercialinsider.com/thankyou.html"/>
      <input class="input" type="hidden" name="_subject" value="Contact Form Submission" />
      <input id="submit" name="submit" type="submit" value="GO!"/>

    </form>
  </div>
<% include ../partials/footer.ejs %>
