<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHQ45HT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Main -->
<div class="wrapper style1">

	<div style="margin:100px 0 0 0;" class="container">
  		<div class="row 200%">
  			<div class="8u 12u(mobile)" id="content">
  				<article id="main">
  					<header>
  						<h1><a href="#">5 Benefits of Using Drones in Commercial Real Estate</h1></a>
  						<p>
    					  May 31, 2017
  						</p>
  					</header>
						<a href="#" class="image featured"><img src="images/drone.jpg" alt="Drone Photography" /></a>
  					<section>
							<header>
								<div class="container">
									<p><strong>Drones</strong>–Not the sound of your boring uncle’s voice as he talks about his latest hobby but the latest technology craze of unmanned aerial vehicles (UAV), have made their way from the military into everyday homes. And as every technology does, UAVs have been embraced, debated, tampered, and played with as people start to explore the various uses for these small hovering aircrafts. From Amazon’s experiment with using them for delivery to viral YouTube videos of them crashing into buildings, drones seem to be everywhere and industries are exploring how they can use UAVs to their advantage.
									<br><br>
									So far, UAVs have entered real estate by way of marketing. Panoramic views of buildings at sunrise or luxury homes against the backdrop of the setting sun and inspirational musical scores are just some of the ways professionals have taken marketing to another level with the use of drone technology. According to RISmedia and MLS statistics, homes with aerial images <strong>sold 68% faster</strong> than homes with standard images. And it’s easy to see why here:</p>
									<br><br>
									<iframe class="blogvid" src="https://www.youtube.com/embed/Gy8mQqBiOYU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
									<br><br>
									However, commercial real estate seems to lag behind in the use of drone photography and videography. Here are 5 benefits of drones for your CRE property:
									<br><br><br>
										<ol>
											<li style="margin-bottom: 10px;"><h3>1.     Better Property Visualization</h3>
												<br>
												<iframe class ="blogvid" src="https://www.youtube.com/embed/aK410vhp6Dk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
												<p class="bloglist">It’s often difficult to properly capture ICI properties. Land, large industrial complexes, and high rise office towers are just some of the commercial real estate examples that can be a challenge to convey through traditional imagery. With aerial videography the immensity of these assets are captured. This benefits investors by giving them an understanding of what they’re paying for and sellers by providing stunning visuals to help sell their listings. </p>
												<br><br>
											</li>
											<li><h3>2.     Highlight Amenities &amp; Neighbourhood</h3>
												<br>
												<iframe class="blogvid" src="https://www.youtube.com/embed/7iG8C0nbg6A?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
												<p class="bloglist">Not only is your CRE captured, drone photography & video also reveals the area’s surroundings. Nearby amenities, businesses, and landscaping, which are important to many buyers, are brought to life.</p>
												<br><br><br>
											</li>
											<li><h3>3.     More Affordable Aerial Imagery</h3>
												<br>
												<p class="bloglist">In the past, aerial videos were captured by helicopter which comes with a hefty price tag. The rising popularity of drones means many photographers and videographers now offer drone imagery as part of their services making bird’s eye view pictures an attractive option.</p>
												<br><br><br>
											</li>
											<li><h3>4.     Get Noticed</h3>
												<br>
												<img class="blogimg" src="images/indianapolis.jpg" alt="Indianapolis Stadium Aerial View">
												<br>
												<p class="bloglist">Despite the popularity of aerial photos and “mainstream” trend of drone usage, it is still not accessible to everyone. So, your skyward pictures and videos still stand out on popular social media platforms as well as in your property’s portfolio. </p>
												<br><br><br>
												<li><h3>5.     Unleash Your Creativity</h3>
													<br>
													<img style="max-width: 60%; margin: auto; display: block;" src="images/paint-splash-creative.png" alt="Paint Splatter-Unleash Creativity">
													<center><a href="http://genotas.deviantart.com/art/3D-paint-splash-pack-for-free-350886298" class="source-text">Source</a></center>
													<br>
													<p class="bloglist">The use of drones for commercial and recreational use is still relatively new with Transport Canada still trying to determine rules surrounding its use (new rules for recreational use were implemented this year!). This brings an exciting era of unexplored creative territory; <strong>what will you do?</strong></p>
												</li>
											</ol>
											<br>
											<p>As exciting as the potential for aerial imagery in commercial real estate is it does come with its limitations:</p>
											<ul class="default">
												<li>Weather dependent</li>
												<li>Heavily regulated and requires a license for commercial use</li>
												<li>More expensive that traditional still-shot photography</li>
											</ul>
											<br><br>
											<h2>Hiring a Drone Operator Checklist</h2>
											<br>
											<p>If you’re considering embracing this new trend here’s a checklist adapted from <a href="http://bestdroneforthejob.com/drone-buying-guides/fly-it-or-buy-it-the-complete-guide-to-using-camera-drones-for-real-estate-marketing/">Andrew Nixon’s Best Drone for the Job blog post</a> on what to cover when hiring a camera drone operator:</p>
											<ol>
												<li class="bloglist"><strong>1. Transport Canada Certified?</strong> To use a UAV for any kind of work or research, you must generally hold a Special Flight Operations Certificate (SFOC).
													<br><br>
													<p>If you’re not sure if you require an SFOC check out this infographic:</p>
													<a href="https://www.tc.gc.ca/media/documents/ca-opssvs/flying-unmanned-aircraft-need-permission.pdf"><img class ="blogimg" src="images/flying-unmanned-aircraft-need-permission.png"></a>
													<br>
												</li>
												<li class="bloglist"><strong>2.	Liability Insurance</strong>:  Does the firm carry $100,000 liability insurance coverage that specifically covers piloting a drone for real estate photography?</li>
												<li class="bloglist"><strong>3.	Client References</strong>: Request web links to 3 listings or property websites that contain the drone operator's work.</li>
												<li class="bloglist"><strong>4.	Interior Video</strong>: Can they also shoot interior stabilized video?  Many drone operators use hand-held gimbals to shoot interior and ground-based video that match the quality of their aerial shots. Important, if you want both.</li>
												<li class="bloglist"><strong>5.	Pre-Shoot Planning Checklist</strong>: Have them share their pre-shoot planning checklist, so you can understand how they work.</li>
												<li class="bloglist"><strong>6.	Price List</strong>: How much do they charge for each of the following? (always ask for a fixed price for deliverables, not hourly billing)
													<ul class="default bloglist">
														<li>1-3 minute video </li>
														<li>15 high-quality still shots taken inside and outside</li>
														<li>one 30-second interior video</li>
													</ul>
												</li>
												<li class="bloglist"><strong>7.	Lead Time &amp; Weather Conditions</strong>:  How much lead time do they need to prepare and show up onsite? What weather &amp; wind conditions would prevent them from shooting?</li>
												<li class="bloglist"><strong>8.	Deposit, Cancellation &amp; Rescheduling Policy</strong>:  Are there any fees or cancellation penalties if you change your mind? How much prior notice do they require?</li>
												<li class="bloglist"><strong>9.	Copy of Blank Contract</strong>:  Ask for a copy of a blank contract ahead of time so you can check for insurance and certifications, indemnifications, etc.</li>
											</ol>
									</p>
								</div>

<br>
<br>
<p style="margin-bottom: 5%;">Have anything to add? Let us know on <a href="https://www.facebook.com/loricommercial/">Facebook</a>!</p>

<div>
	<p><b> Like what you see? Share it!</b></p>
	<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591526_social_3.png" alt="Facebook LORI Commercial" /></a>
	<a href="https://www.instagram.com/loricommercial/"><img class="icon-social" src="images/1491591542_social_6.png" alt="Instagram LORI Commercial" /></a>
	<a href="mailto:?&subject=Check out LORI Commercial's Latest Promotions!&body=I%20saw%20this%20link%20on%20LORI%20Commercial%20Insider%20and%20thought%20you%20would%20enjoy%20it!%0A%0Ahttp%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591534_email.png" alt="Email LORI Commercial" /></a>
	<a href="https://twitter.com/home?status=Check%20out%20LORI%20Commercial%20Insider's%20Canada150%20promotion!%20http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594028_social_8.png" alt="Twitter LORI Commercial" /></a>
	<a href="https://plus.google.com/share?url=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594038_google.png" alt="Google Plus LORI Commercial" /></a>
	<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.loricommercialinsider.com/currentpromotions&title=LORI%20Commercial%20Insider%20Canada150%20Promotions&summary=&source="><img class="icon-social" src="images/1491594780_social_7.png" alt="LinkedIn LORI Commercial" /></a>
	<a href="https://pinterest.com/pin/create/button/?url=http%3A//www.loricommercialinsider.com/currentpromotions&media=&description="><img class="icon-social" src="images/1491594019_pinterest.png" alt="Pinterest LORI Commercial" /></a>
</div>
</header>
</section>
</article>
</div>

<% include ../partials/mostrecent.ejs %>

</div>
<hr />
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//loricommercialinsider.us14.list-manage.com/subscribe/post?u=40496f380b6ca4a192d0f410a&amp;id=4e6dfacf3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Subscribe to our mailing list</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_40496f380b6ca4a192d0f410a_4e6dfacf3f" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->
</div>
</div>
<% include ../partials/footer.ejs %>
