<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<!-- Main -->
<div class="wrapper style1">

	<div style="margin:100px 0 0 0;" class="container">
  		<div class="row 200%">
  			<div class="8u 12u(mobile)" id="content">
  				<article id="main">
  					<header>
  						<h1><a href="#">Links We Love &hearts;</h1> <h2>(and other LORI Learnings)</h2></a>
  						<p>
    					  Apr 29, 2017
  						</p>
  					</header>
						<a href="#" class="image featured"><img src="images/linkswelove.jpeg" alt="" /></a>
  					<section>
							<header>
								<div class="container">
<p>Too busy to keep up with everything new that’s happening? We feel you, so we’ve decided to compile a list of interesting tidbits we’ve come across on the infinite World Wide Web as well other happenings in the commercial real estate industry (LORI Learnings being news).
<br><br>
If you like it let us know! Shoot us an email or share it with your friends, we’d love to know what you think!
</p>
<br>
<ol>
	<li style="margin-bottom: 10px;"><h3>1.	How to Decide Whether Commercial Property is Profitable in Ten minutes or Less</h3>
		<br>
<p class="bloglist">We recently came across this interesting infographic on Visually. Although it pertains to U.S. commercial investors (most of our contact with the IRS comes from <i>The Wolf of Wall Street</i> and <i>The Big Short</i>), many of the considerations still apply to Canadian investors. Do you agree with this infographic? How do you go about assessing the profitability of a commercial property?</p>
<img class="blogimg" src="images/how-to-decide-whether-or-not-a-commercial-income-property-is-profitable-in-ten-minutes-or-less_5337f4c66950c_w1500.png" alt="How to Decide Whether or Not a Commercial Property is Profitable in Ten Minutes or Less">
<center><a href="https://visual.ly/how-decide-whether-commercial-property-profitable-ten-minutes-or-less" class="source-text">Source</a></center>
<br>
</li>
<li><h3>2.	Timberrrr</h3>
	<br>
<p class="bloglist">With Trump’s new tariff on Canadian softwood lumber, American builders will start to see increasing costs for production and job losses in the thousands seems likely on the Canadian side. That’s not to mention the potential effect on Canada’s GDP as softwood lumber exports to the U.S., though, not as prominent as it once was, still plays a large role.
Check out what the new tariff means for your province here:
<br>
<a href="http://www.huffingtonpost.ca/2017/04/27/trump-lumber-tariff-canada_n_16298756.html" alt="Trump Lumber Tariff Canada">Read More</a></p>
<br>
<img class="blogimg" src="images/o-LUMBER-EXPORTS-EXPOSURE-BY-PROVINCE-570.jpg" alt="Graph of Softwood Lumber Exports by Province">
<center> <a class="source-text" href="http://www.huffingtonpost.ca/2017/04/27/trump-lumber-tariff-canada_n_16298756.html">Source</a></center>
<br>
<p class="bloglist"> For a colourful history on the U.S.-Canada Softwood Lumber Trade Disputes and the subsequent “morning wood”, read Tabatha Southey’s recent column <i>Explaining the endless softwood saga to our extraterrestrial neighbours</i>.
	<br>
<a href="http://www.theglobeandmail.com/opinion/making-sense-of-our-endless-softwood-lumber-saga-for-our-extraterrestrial-neighbours/article34843260/">Read More</a>
</p>
<br><br>
</li>
<li><h3>3.	The REIT Stuff</h3>
	<br>
<p class="bloglist">This week there have been a number of REIT announcements from awards to acquisitions. See some of the latest ones below:</p>
<br><br>
<p class="bloglist">-Artis Real Estate Investment Trust was announced as one of Canada's Top Small and Medium Employers for 2017. The award recognizes the small and medium enterprises that offer the nation's best workplaces and forward-thinking human resources policies. Some of the criteria include: physical workspace, work & social atmosphere, benefits, and training and skills development. Congratulations Artis!
<br>
<a href="http://www.newswire.ca/news-releases/artis-real-estate-investment-trust-named-one-of-canadas-top-small-and-medium-employers-for-2017-620387453.html">Read Artis's press release here</a></p>
<br><br>
<p class="bloglist">̶̶Agellan Commercial Real Estate Investment Trust acquired an industrial distribution facility in Flint, Michigan. It’s fully leased to General Motors and as anyone who hasn’t been under a rock the past few months would wonder, the press release claims “the water supply for the Distribution Facility is provided by the local township, the Distribution Facility has not been directly affected by recent water issues identified in the City of Flint.”
<br>
<a href="https://finance.yahoo.com/news/agellan-commercial-real-estate-investment-135800126.html">Read about the acqusition here</a></p>
<br><br>
<p class="bloglist">-In more dire news, Canadian Apartment Properties Real Estate Investment Trust President and Chief Executive Officer, Thomas Schwartz has been diagnosed with prostate cancer. Taking time to focus on his health and recover, Mr. Schwartz’s doctors are optimistic about his recovery and in the meantime Michael Stein, Chair of CAPREIT, will help coordinate CAPREIT's management team until Mr. Schwartz can fully return to work.
<br>
<a href="http://www.montrealgazette.com/business/cnw/release.html?rkey=20170425C2939&filter=5611">More details on CAPREIT here</a></p>
</li>
<br>
<li><h3>4.	If We Build It, Will They Come?</h3>
	<br>
<p class="bloglist">The Ontario Liberal government has rolled out a new proposed budget ahead of the June 2018 election; in it is a plan to grow infrastructure in Ontario’s health care and educational system. An additional $30 billion is allocated towards new hospital projects, school renewal, and child care expansion.
	<br>
<a href="http://dailycommercialnews.com/en-US/Infrastructure/News/2017/4/Province-commits-billions-to-hospital-school-construction-in-budget-1023480W/">Click here for more details on the proposed budget</a></p>
<img class="blogimg" src="images/charlessousa.jpg" alt="Charles Sousa Ontario Finance Minister">
<center><a class="source-text" href="http://www.citynews.ca/2016/02/16/finance-minister-table-ontario-budget-feb-25/">Ontario Finance Minister, Charles Sousa.  Image Source</a></center>
</li>
<br><br>
<li><h3>5.	Neighbourly Love</h3>
	<br>
	<p class="bloglist">Over on the residential side of real estate things have been booming for quite some time. Soaring housing prices have made owning a home seem like a pipe dream, requiring a fairy godmother or genie from a lamp to grant you a wish. Last week Ontario introduced a new plan to tackle this phenomena. Here’s what you need to know:
	<a href="http://www.theglobeandmail.com/real-estate/toronto/ontario-housing-16-big-changes-explained-in-charts/article34757648/">The 16 Big Changes in Ontario Housing</a></p>
<img class="blogimg" src="images/residentialhousing.jpg" alt="Residential Housing Ontario">
<center><a class="source-text" href="http://www.propertybird.ca/Maple-Ontario-Canada-Homes-in-Maple-vaughan-Houses-for-Sale-MLS.html">Source</a></center>
</li>
</ol>
<br><br>
<div class="container">
<p> <b>P.S.</b> In case you missed it — A woman was rescued from a construction crane which she clearly free climbed for reasons unknown. Pictures of the saga can be seen at
	<a href="http://news.nationalpost.com/news/canada/firefighters-try-to-reach-woman-in-high-heels-stuck-on-towering-crane-in-downtown-toronto">The National Post article here.</a></p>
<p> Here's a little teaser:</p>
<img class="blogimg" src="images/tsa042617rescue05-1.jpg">
<center><a class="source-text" href="http://news.nationalpost.com/news/canada/firefighters-try-to-reach-woman-in-high-heels-stuck-on-towering-crane-in-downtown-toronto">Source</a></center>
</div>
</div>
<div class="container" style="margin-bottom: 7%">
	<hr>
<h2>Upcoming Events</h2>
<br>
<h3>May 10 - May 11: <a href="http://www.realtor-quest.ca/index.php">TREB REALTOR QUEST</a></h3>
<br>
<p style="margin-top:-3%" class="blogloca">Toronto Congress Centre, Toronto, Ontario</p>
<p class="p-events">Join over 8,000 real estate professionals for REALTOR® QUEST, Canada's largest REALTOR® Trade Show and Conference. Central to the trade show is the REALTOR® QUEST Centre Stage which will feature an impressive array of live entertainment, video presentations, and unique opportunities for sponsor networking and involvement. Complementing the REALTOR® QUEST trade show will be Health Quest, Learning Quest sessions, TREB's Spring Annual Meeting of Members and more.
</p>
<br>
<h3>May 16 – May 18: <a href="http://marketplacetoronto.com">International Real Estate Marketplace</a></h3>
<p class="blogloca">Metro Toronto Convention Centre, Toronto, Ontario</p>
<p class="p-events">Canadian International Real Estate Marketplace, Canada's first-ever international property investment trade show will take place on May 16th to the 18th, 2017 at the Metro Toronto Convention Centre.
The show will be open to the Canadian public and over 40,000 VIP investors (Royal, political, and high net worth individuals) who will be invited to this prestigious event.
</p>
<br>
<h3>May 17: <a href="http://www.rahb.ca/event/master-open-house-4/?instance_id=1028">MASTER Open House</a></h3>
<p class="blogloca">RAHB, Hamilton, Ontario</p>
<p class="p-events">This interactive course is designed to take you from holding an average open house to becoming a MASTER at open houses. Topics include: marketing your Open House online using social media, develop a take-home kit, get more prospects to show up, and more</p>
<br>
<h3>May 19: <a href="http://www.rahb.ca/event/insurance-concerns-for-buyers/?instance_id=1035">Insurance Concerns for Buyers</a></h3>
<p class="blogloca">RAHB, Hamilton, Ontario</p>
<p class="p-events">This presentation will address some of the challenges facing buyers when they try to obtain insurance for the purchase of their home. There is a discussion of the different issues that arise when deficiencies are discovered, such as knob and tube wiring or underground oil tanks.  Further there is discussion about the protections that are available to the real estate in form of clauses to be inserted into Agreements of Purchase and Sale.</p>
<br>
<h3>May 21 – May 24: <a href="http://www.icsc.org/recon/">ICSC RECon </a></h3>
<p class="blogloca">Las Vegas, Nevada</p>
<p class="p-events">RECon is the world’s largest retail real estate convention with more than 37,000 attendees representing 58 countries who gather for power deal making, endless networking and innovative education.
This makes RECon the premier gathering place for retail real estate professionals to conduct a year’s worth of business in just three days!  No other convention will give your company this unprecedented depth of exposure and reach.
</p>
<br>
<h3>Jun 7 – Jun 9: <a href="http://accelerate.vts.com/">Accelerate</a></h3>
<p class="blogloca">New York, New York</p>
<p class="p-events">The Commercial Real Estate Innovation Conference<br>
Join VTS and the industry’s most influential thought leaders to learn how technology is shaping the future of commercial real estate. Collaborate with the experts on the forefront of innovation and hear first hand how technology is changing the way we do business.</p>
</div>
<p style="margin-bottom: 5%;">Want to share an event with your peers? Let us know at <a href="mailto:media@loricommercialinsider.com"> media@loricommercialinsider.com</a></p>
<hr>
					<div>
						<p><b> Like what you see? Share it!</b></p>
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591526_social_3.png" alt="Facebook LORI Commercial" /></a>
						<a href="https://www.instagram.com/loricommercial/"><img class="icon-social" src="images/1491591542_social_6.png" alt="Instagram LORI Commercial" /></a>
						<a href="mailto:?&subject=Check out LORI Commercial's Latest Promotions!&body=I%20saw%20this%20link%20on%20LORI%20Commercial%20Insider%20and%20thought%20you%20would%20enjoy%20it!%0A%0Ahttp%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591534_email.png" alt="Email LORI Commercial" /></a>
						<a href="https://twitter.com/home?status=Check%20out%20LORI%20Commercial%20Insider's%20Canada150%20promotion!%20http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594028_social_8.png" alt="Twitter LORI Commercial" /></a>
						<a href="https://plus.google.com/share?url=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594038_google.png" alt="Google Plus LORI Commercial" /></a>
						<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.loricommercialinsider.com/currentpromotions&title=LORI%20Commercial%20Insider%20Canada150%20Promotions&summary=&source="><img class="icon-social" src="images/1491594780_social_7.png" alt="LinkedIn LORI Commercial" /></a>
						<a href="https://pinterest.com/pin/create/button/?url=http%3A//www.loricommercialinsider.com/currentpromotions&media=&description="><img class="icon-social" src="images/1491594019_pinterest.png" alt="Pinterest LORI Commercial" /></a>
					</div>
					</header>
					</section>
  				</article>
  			</div>

			<% include ../partials/mostrecent.ejs %>

		</div>
		<hr />
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="//loricommercialinsider.us14.list-manage.com/subscribe/post?u=40496f380b6ca4a192d0f410a&amp;id=4e6dfacf3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Subscribe to our mailing list</label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_40496f380b6ca4a192d0f410a_4e6dfacf3f" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
		</div>

		<!--End mc_embed_signup-->
	</div>
</div>
<% include ../partials/footer.ejs %>
