<% include ../partials/header.ejs %>
<body id="magazine-header">
	
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHQ45HT"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div id="page-wrapper"></div>
	<div class="magcontent">
		<div class="container"><p id="magazine-title"> The Magazine </p></div>
		<img style="margin-bottom:-10px"class="line" src="/images/line1.png">
		<div data-configid="28534001/47969887" style="width:50%; height: 30vw; margin: auto;" class="issuuembed"></div>
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
	  </div>

    <% include ../partials/mailchimp.ejs %>
		<% include ../partials/nav.ejs %>
		<% include ../partials/footer.ejs %>
	</body>