<% include ../partials/header.ejs %>
<body id="magazine-header">
	<div id="page-wrapper"></div>
	<div class="magcontent">
	    content
	  </div>

    <% include ../partials/mailchimp.ejs %>
		<% include ../partials/nav.ejs %>
		<% include ../partials/footer.ejs %>
	</body>