<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHQ45HT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Main -->
<div class="wrapper style1">

	<div style="margin:100px 0 0 0;" class="container">
  		<div class="row 200%">
  			<div class="8u 12u(mobile)" id="content">
  				<article id="main">
  					<header>
  						<h1><a href="#">Top <strong>7</strong> Real Estate Investments in the Star Wars Galaxy</h1></a>
  						<p>
    					  May 4, 2017
  						</p>
  					</header>
						<a href="#" class="image featured"><img src="images/star-wars.png" alt="" /></a>
  					<section>
							<header>
								<div class="container">

									If you’re like us, the resurgence of the Star Wars series over the last few years had our inner child jumping for joy.<br>									In honour of May the 4th, we’ve put together a list of the top real estate investments in the Star Wars Galaxy.
									<br><br>
									Pre-2015 and <i>Star Wars: The Force Awakens</i>, from Fundrise:
									<br><br><br>
<ol>
	<li style="margin-bottom: 10px;"><h3>1.  Jabba’s Palace Redevelopment</h3>
		<br>
<p class="bloglist">Tatooine has long been ignored by most of the galaxy due to its harsh desert climate and remote location away from major trade routes. This has resulted in centuries of rampant lawlessness and poverty. However, Tatooine has been targeted for massive terraforming grants as part of the New Republic’s Outer Rim Revitalization Initiative, which aims to improve stricken planets and create new homes for millions of war refugees.</p>
<img class="blogimg" src="images/jabbaspalace.jpg" alt="Jabba's Palace Redevelopment">
<center><a href="http://www.starwars.com/news/5-aliens-and-creatures-introduced-at-jabbas-palace" class="source-text">Source</a></center>
<ul class="blog">
<li><strong>Property Type</strong>: Mixed-Use</li>
<li><strong>Occupancy</strong>: Vacant</li>
<li><strong>Development Phase</strong>: Value-Add</li>
<li><strong>Location</strong>: Dune Sea, Tatooine</li>
</ul>
<p class="bloglist">The subject property is located on the edge of Dune Sea and was formerly occupied by crime lord Jabba the Hutt. After terraforming is complete, the Dune Sea will be transformed into a warm, shallow ocean, making the Palace ideally suited for use as a seaside resort.
The property is well-equipped with multiple starship docking bays, an advanced security system and a dungeon / rancor pit which is ideal for conversion into a wine cellar. Intensive environmental remediation may be necessary.</p>
<br><br>
</li>
<li><h3>2.  Jedi Temple Temporary Repositioning</h3>
	<br>
<p class="bloglist">The Jedi Temple was illegally occupied by Emperor Palpatine for the duration of the Galactic Civil War and now stands vacant. With the Jedi Order devastated by the conflict and numbering only one known member, they don’t need this much space for their headquarters.</p>
<img class="blogimg" src="images/jeditemple.png" alt="Jedi Temple Repositioning">
<center> <a class="source-text" href="http://starwars.wikia.com/wiki/Bombing_of_the_Jedi_Temple_hangar">Source</a></center>
<br>
<ul class="blog">
<li><strong>Property Type</strong>: Office</li>
<li><strong>Occupancy</strong>: Vacant</li>
<li><strong>Development Phase</strong>: Value-Add</li>
<li><strong>Location</strong>: Galactic City, Coruscant</li>
</ul>
	<p class="bloglist">The project’s sponsor, the Jedi Trust, overseen by Master Luke Skywalker, plans to temporarily lease out the Temple while the Jedi rebuild their ranks, using the rental income to fund expeditions to locate other Force-sensitive beings throughout the galaxy.
<br><br>The subject property is one of the most historic buildings on the core world of Coruscant and offers a 10-rotation NNN lease of over 2.5 million square meters of Class-A Trophy office and coworking space to any intergalactic startup or corporation looking to expand their operations.
<br><br>Investor capital will be used to market the property and fund tenant improvements.</p>
<br><br><br>
</li>
<li><h3>3.  Tibanna Mining Complex Acquisition</h3>
<br>
<p class="bloglist">As a key ingredient in blaster weapon energy cells and many varieties of starship hyperdrives, tibanna gas remains a staple commodity in the galactic economy. This tibanna mining complex on the gas giant Bespin was operated by the former owner, Lando Calrissian, for several years with modest profitability.</p>
<img class="blogimg" src="images/bespintibannaminingcomplex.jpg" alt="Tibanna Mining Complex">
<center> <a class="source-text" href="https://medium.com/life-on-the-edge/edge-of-the-empire-finale-a235ab79d5fd">Source</a></center>
	<br>
<ul class="blog">
<li><strong>Property Type</strong>: Industrial</li>
<li><strong>Occupancy</strong>: 100% Occupied</li>
<li><strong>Development Phase</strong>: Value-Add</li>
<li><strong>Location</strong>: Cloud City, Bespin</li>
</ul>
<p class="bloglist">The sponsor, Calrissian’s former assistant Lobot, has acquired the facility from Calrissian at an attractive cost basis after his rapid departure to join the Rebel Alliance. Lobot believes that upgrading the mining equipment to state-of-the-art units and hiring professional off-world Bith engineers will increase production by at least 50%.</p>
<br><br><br>
</li>
<li><h3>4.  Kuat Drive Yards Repositioning</h3>
	<br>
<p class="bloglist">While orders for TIE fighters and Star Destroyers fell off a cliff following the Empire’s crushing series of defeats, galactic trade and travel have resumed at levels not seen since the beginning of the Clone Wars. As a result, demand for freighters and personal luxury yachts is at an all-time high, especially since so many civilian ships were destroyed or repurposed during the war.</p>
	<br>
<img class="blogimg" src="images/kuatdriveyards.jpg" alt="Kuat Drive Yards Repositioning">
<center><a class="source-text" href="http://starwars.wikia.com/wiki/Kuat_Drive_Yards_Orbital_Array">Source</a></center>
<ul class="blog">
	<li><strong>Property Type</strong>: Industrial</li>
	<li><strong>Occupancy</strong>: 100% Occupied</li>
	<li><strong>Development Phase</strong>: Stabilized</li>
	<li><strong>Location</strong>: Geosynchronous Orbit, Kuat</li>
</ul>
<p class="bloglist">This is an opportunity to invest in a stabilized, cash-flowing industrial property whose sponsor, Kuat Drive Yards, produced some of the most fearsome military vehicles used during the Galactic Civil War. Kuat will use Fundrise investors’ capital to free up some of their own equity for a repositioning initiative as the galaxy’s premier builder of civilian starships.</p>
</li>
<br><br>
<li><h3>5.  Endor Luxury Treetops</h3>
	<br>
	<p class="bloglist">The Ewoks made a big splash on the galactic scene when they aided the Rebels in their demolition of the shield generator protecting Death Star II. Business from “war tourists” has boomed and the little furballs are profiting handsomely.</p>
		<br>
	<img class="blogimg" src="images/endortreetop.jpg" alt="Endor Luxury Treetops">
<center><a class="source-text" href="https://luxuryescapes.com/magazine/10-tree-house-hotels-worth-climbing-for/">Source</a></center>
<ul class="blog">
	<li><strong>Property Type</strong>: Multi-Family</li>
	<li><strong>Occupancy</strong>: Vacant</li>
	<li><strong>Development Phase</strong>: Ground-Up</li>
	<li><strong>Location</strong>: Endor</li>
</ul>
	<p class="bloglist">While older Ewoks seem to be content with their primitive treehouse dwellings, there is a strong demand among the younger generation for luxury tree lofts. Endor Luxury Treetops will feature the finest in high design, including a moonroof in every unit, flooring made from reclaimed Imperial starship armor, and micro-transit via a built-in network of rope swings.</p>
<br><br>
</li>
<br><br>
<p>With both <i><strong>Star Wars: The Force Awakens</strong></i> and <i><strong>Rogue One: A Star Wars Story</strong></i> now out, we’ve added the following real estate properties to the list:</p>
<br><br>
<li><h3>6.  Maz Kanata’s castle </h3>
	<br>
<p class="bloglist">In a prime location with a lakeside view, Kanata’s castle has been the social hub of pirates, smugglers, spies and more looking to mingle, searching for loans, information, equipment, repairs or simply to relax and enjoy music, food, and drink or games of chance. </p>
	<br>
<img class="blogimg" src="images/Maz_Kanatas_castle.png" alt="Maz Kanata's Castle">
<center><a class="source-text" href="http://starwars.wikia.com/wiki/Maz_Kanata%27s_castle">Source</a></center>
<ul class="blog">
	<li><strong>Property Type</strong>: Mixed-Use</li>
	<li><strong>Occupancy</strong>: Vacant</li>
	<li><strong>Development Phase</strong>: Value-Add</li>
	<li><strong>Location</strong>: Nymeve Lake, Takodana</li>
</ul>
<p class="bloglist">The rebuild of castle will restore the former stone battlements to their original glory providing much leasing potential in this multilevel property. The still intact catacombs can be leased as storage space, rooms, or perhaps offer a private enclave for dive bars and other atmospheric ventures. </p>
</li>
<br><br>
<li><h3>7.  Imperial Security Complex</h3>
	<br>
<p class="bloglist">Located in the tropical climate of Outer Rim planet Scarif, this modern behemoth employs top-of-the-line technology and security systems</p>
	<br>
<img class="blogimg" src="images/imperialsecuritycomplex.jpg" alt="Concept Art of Imperial Security Complex">
<center><a class="source-text" href="http://starwars.wikia.com/wiki/Imperial_security_complex">Concept art of Impersial Security Complex with Death Star docking tower in the center. Image Source.</a></center>
<ul class="blog">
	<li><strong>Property Type</strong>: Industrial</li>
	<li><strong>Occupancy</strong>: Vacant</li>
	<li><strong>Development Phase</strong>: Value-Add</li>
	<li><strong>Location</strong>: Scarif</li>
</ul>
<p class="bloglist">Once used for research, structural engineering, munitions, and manufacturing the new facility in production, Imperial Base: A New Hope, will indeed inspire and bring new hope to its investors. The newly built base will feature a Death Star docking station as the forward-thinking architects and engineers wanted to create an adaptable complex should the Empire strike back. Intensive environmental remediation may be necessary.</p>
</li>
</ol>
</div>
<br>
<br>
<p style="margin-bottom: 5%;">Have anything to add? Let us know on <a href="https://www.facebook.com/loricommercial/">Facebook</a>!</p>

					<div>
						<p><b> Like what you see? Share it!</b></p>
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591526_social_3.png" alt="Facebook LORI Commercial" /></a>
						<a href="https://www.instagram.com/loricommercial/"><img class="icon-social" src="images/1491591542_social_6.png" alt="Instagram LORI Commercial" /></a>
						<a href="mailto:?&subject=Check out LORI Commercial's Latest Promotions!&body=I%20saw%20this%20link%20on%20LORI%20Commercial%20Insider%20and%20thought%20you%20would%20enjoy%20it!%0A%0Ahttp%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591534_email.png" alt="Email LORI Commercial" /></a>
						<a href="https://twitter.com/home?status=Check%20out%20LORI%20Commercial%20Insider's%20Canada150%20promotion!%20http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594028_social_8.png" alt="Twitter LORI Commercial" /></a>
						<a href="https://plus.google.com/share?url=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594038_google.png" alt="Google Plus LORI Commercial" /></a>
						<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.loricommercialinsider.com/currentpromotions&title=LORI%20Commercial%20Insider%20Canada150%20Promotions&summary=&source="><img class="icon-social" src="images/1491594780_social_7.png" alt="LinkedIn LORI Commercial" /></a>
						<a href="https://pinterest.com/pin/create/button/?url=http%3A//www.loricommercialinsider.com/currentpromotions&media=&description="><img class="icon-social" src="images/1491594019_pinterest.png" alt="Pinterest LORI Commercial" /></a>
					</div>
					</header>
					</section>
  				</article>
  			</div>

			<% include ../partials/mostrecent.ejs %>

		</div>
		<hr />
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="//loricommercialinsider.us14.list-manage.com/subscribe/post?u=40496f380b6ca4a192d0f410a&amp;id=4e6dfacf3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Subscribe to our mailing list</label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_40496f380b6ca4a192d0f410a_4e6dfacf3f" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
		</div>

		<!--End mc_embed_signup-->
	</div>
</div>
<% include ../partials/footer.ejs %>
