<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<!-- Main -->
<div class="wrapper style1">

	<div style="margin:100px 0 0 0;" class="container">
  		<div class="row 200%">
  			<div class="8u 12u(mobile)" id="content">
  				<article id="main">
  					<header>
  						<h2><a href="#">Top 4 Workplace Wellness Trends</a></h2>
  						<p>
    					  Apr 26, 2017
  						</p>
  					</header>
  					<a href="#" class="image featured"><img src="images/workplacewellness.jpg" alt="" /></a>
						<a href="http://demographicpartitions.org/workplace-trends-can-expect-see-2017/" style="font-size:10px">Source</a>
  					<section>
							<header>
<p>There has been an evident movement towards well being in the workplace; the idea of creating better working environments that are more productive and meaningful.
The human relations movement, started in the 1930’s, initiated the study of human behaviour in workplace groups. This encouraged the understanding of how stimuli and working conditions can produce more productive workers. There was now a new awareness of how workplace environments affect employee wellness, and in turn productivity.</p>
<h3 style="margin-bottom: 10px">HERE ARE THE TOP FOUR TRENDS EMERGING IN THE WORKPLACE</h3>
<br>
<ol>
	<li style="margin-bottom: 10px;"><h3>1.	The Ageless Workplace</h3>
		<br>
<p style="margin-left: 3%;">The ageless workplace is about enhancing the longevity of workers, enabling them to embrace lifelong skills and ensuring they have the mental and physical energy to work for as long as they want to.
<br><br>
I can’t tell you how many people I know personally that have retired and a few months later go back to work because they are bored and still capable. Older employees are seen just as capable as younger. Ever seen The Intern with Robert De Niro and Anne Hathaway?</p>
<br><br>
<center><img src="images/intern_xlg.jpg" style="max-width:50%;"></center>
<center><a href style="font-size: 10px; margin-left: auto; margin-right: auto; text-align: center;" src="http://www.sueterazul.com.br/2015/09/dica-de-filme-estreia-do-mes-um-senhor.html">Source</a></center>
<br><br>
<p style="margin-left: 3%;">Employers are expected to be able to take better care of their employees so they can age gracefully and continue to make positive contributions to the workforce. Many large corporations incorporate a gym within the workspace and some even offer quiet spaces for meditation, all in an effort to help support their teams.
<br><br>
<center><img style="max-width:90%"src="images/gym.jpg"></center>
<center><a href style="font-size: 10px;" src="http://www.bbc.com/news/business-37616489">Source</a></center>
<br></p>
</li>
<li><h3>2.	The Mindful Workplace</h3>
	<br>
<p style="margin-left: 3%">People are connected around the world through the Internet, wonderful as that may be, this technology has also enabled workers to be constantly connected through their personal devices. Having fast and easy access to information has developed a new set of expectations.
Employees feel more overwhelmed in the workplace these days due to constantly being connected. Employers have started to realize the importance of mental well-being for their employees and the need for regular breaks in a calming environment to help clear their mind, reduce stress and increase productivity.
<br><br>
The focus from physical health has now widened to include psychological health, allowing the workplace to become mindful to the overall health of its employees. The most important change is the importance of flexibility in the workplace, such as working from home.</li>
<br>
<center><img src="images/mindful.jpg" style="max-width:85%"></center>
<br><br></p>
<li><h3>3.	The Intuitive Workplace</h3>
	<br>
<p style="margin-left: 3%;">New advancements in technology have allowed the workplace to evolve and become more intuitive and interesting.
	<br><br>The workplace is starting to recognize the importance of monitoring its worker’s environment, wants and needs in order to create an intelligent and responsive space. One future concept is the workplace that is mood-responsive, where habits can be tracked. Exciting or scary to you?
<br><br>
<center><img style="max-width:85%" src="images/intuitiveworkplace.jpg" alt="Intuitive Workplace"></center>
<br></p>
</li>
<br>
<li><h3>4.	The Collaborative Workplace</h3>
	<br>
<p style="margin-left: 3%">Workplaces have shifted into environments that support group interaction and the valuing of others’ perspectives and unique skills. As a result, open working environments have become more common allowing for open discussions, workshops and brainstorming.
 <center><img src="images/collaborativeteam.jpg" alt="Collaborative Team Building" style="max-width:85%"></center>
<center><a href="https://www.searchenginejournal.com/fix-next-brainstorm-session/109069/" style="font-size: 10px">Source</a></center>
<br>
<p style="margin-left: 3%">Collaborative and flexible workplaces can boost creativity and enhance innovation, resulting in more enthusiasm, devotion and motivation.
By embracing many of the future trends that will be taking place in the workplace, you can ensure higher levels of happiness and satisfaction from your entire team.</p></li>
<br><br>
<p>To view the original blog post visit:  <a href="http://ambience.ca/wellness-in-the-emerging-workplace/">Wellness in the Emerging Workplace</a></p>
<p>For more workplace tips and trends visit the Ambience Design Group's blog at:  <a href="http://ambience.ca/blog/">www.ambience.ca/blog</a></p>
<br><br>
					<div>
						<p><b> Like what you see? Share it!</b></p>
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591526_social_3.png" alt="Facebook LORI Commercial" /></a>
						<a href="https://www.instagram.com/loricommercial/"><img class="icon-social" src="images/1491591542_social_6.png" alt="Instagram LORI Commercial" /></a>
						<a href="mailto:?&subject=Check out LORI Commercial's Latest Promotions!&body=I%20saw%20this%20link%20on%20LORI%20Commercial%20Insider%20and%20thought%20you%20would%20enjoy%20it!%0A%0Ahttp%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591534_email.png" alt="Email LORI Commercial" /></a>
						<a href="https://twitter.com/home?status=Check%20out%20LORI%20Commercial%20Insider's%20Canada150%20promotion!%20http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594028_social_8.png" alt="Twitter LORI Commercial" /></a>
						<a href="https://plus.google.com/share?url=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594038_google.png" alt="Google Plus LORI Commercial" /></a>
						<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.loricommercialinsider.com/currentpromotions&title=LORI%20Commercial%20Insider%20Canada150%20Promotions&summary=&source="><img class="icon-social" src="images/1491594780_social_7.png" alt="LinkedIn LORI Commercial" /></a>
						<a href="https://pinterest.com/pin/create/button/?url=http%3A//www.loricommercialinsider.com/currentpromotions&media=&description="><img class="icon-social" src="images/1491594019_pinterest.png" alt="Pinterest LORI Commercial" /></a>
					</div>
					</header>
					</section>
  				</article>
  			</div>

			<% include ../partials/mostrecent.ejs %>

		</div>
		<hr />
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="//loricommercialinsider.us14.list-manage.com/subscribe/post?u=40496f380b6ca4a192d0f410a&amp;id=4e6dfacf3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Subscribe to our mailing list</label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_40496f380b6ca4a192d0f410a_4e6dfacf3f" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
		</div>

		<!--End mc_embed_signup-->
	</div>
</div>
<% include ../partials/footer.ejs %>
