<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHQ45HT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Main -->
<div class="wrapper style1">

	<div style="margin:100px 0 0 0;" class="container">
  		<div class="row 200%">
  			<div class="8u 12u(mobile)" id="content">
  				<article id="main">
  					<header>
  						<h1><a href="#">Upcoming Events</h1></a>
  						<p>
    					  Aug 1, 2017
  						</p>
  					</header>
						<a href="#" class="image featured"><img src="images/audience.jpg" alt="Commercial Real Estate Events" /></a>
						<section>
							<header>
								<div class="container">

<div class="container" style="margin-bottom: 7%">
<br>
<h3>Aug 9, 2017: <a href="http://www.rahb.ca/event/fintrac/?instance_id=60">FINTRAC Legal Updates</a></h3>
<p class="blogloca">505 York Blvd, Hamilton</p>
<p class="p-events">In this new seminar, Mark Weisleder, LLB., REI, teaches what you need to know to comply with all FINTRAC requirements.
By the end of this session you will:
· Understand what FINTRAC auditors look for
· Learn what to ask whenever a new prospect contacts you
· Make sure that your own FINTRAC policy is up to date
· Understand the requirements when you are dealing with a corporation, estate trustee or Power of Attorney as a client
· Learn how to properly identify a client, even if there is no picture ID available
· Learn how to keep a record of all training requirements
· Learn what information is necessary to include when conducting a risk assessment for your brokerage
· Understand what it means to monitor any client who is deemed to be in a business relationship
· Learn how to complete a risk assessment form, which must be completed by a brokerage every two years
</p>
<br>
<h3>Sept 7, 2017: <a href="http://www.realestateforums.com/realreit/">RealREIT</a></h3>
<p class="blogloca">Metro Toronto Convention Centre, Toronto</p>
<p class="p-events">The current state of this asset class and what the future likely holds will be among the many themes and topics that will be the focus of discussion at the 14th annual RealREIT conference on Thursday, September 7 at the Metro Toronto Convention Centre.
The program will provide valuable insights from the perspectives of senior REIT executives, portfolio and investment managers, real estate analyst and other key intermediaries. RealREIT will present high-quality speakers on very topical issues. Opportunities for networking will also be available throughout the day.
</p>
<br>
<h3>Sep 11 - Sep 12, 2017: <a href="http://www.realpac.ca/events/EventDetails.aspx?id=894593&group=">Growing Together: REIC 2017 Annual Conference &amp; AGM </a></h3>
<p class="blogloca">St. Andrew's Club and Conference Centre, 150 King St. W, Toronto</p>
<p class="p-events">The market for Commercial Real Estate investment continues to evolve and integrate with broader investment and capital markets. This two-day course combines theory and industry practice to examine current topics and emerging issues in the increasingly complex world of Real Estate finance and investment.
<br>
The primary objective of the course is to introduce tools and refine concepts and techniques that will improve investment, financing and risk management decisions. The course will explore both the "micro-level” pertaining to individual properties and deals, and "macro-level” portfolio and investment management considerations. It is designed to be interactive with attendees encouraged to participate during lectures and case studies.
</p>
<br>
<h3>Sep 14, 2017: <a href="http://torontocrew.org/ChapterSite/Templates/Content.aspx?id=10559">2017 GOLF CLASSIC - Toronto CREW</a></h3>
<p class="blogloca">Station Creek Golf Club, Toronto</p>
<p class="p-events">Founded in 1996, Toronto CREW is a powerful network of prominent women in Toronto’s commercial real estate industry. It provides deal making opportunities, leadership training and the resources to make an impact on your career. Toronto CREW also offers a crucial link to CREW Network, the North American arm of the association, which connects women across the continent with shared insighs and support.
</p>
<br>
<h3>Sep 19, 2017: <a href="http://www.realestateforums.com/resl/">Real Estate Strategy &amp; Leasing</a></h3>
<p class="blogloca">Metro Toronto Convention Centre, Toronto</p>
<p class="p-events">The 2017 Real Estate Strategy &amp; Leasing Conference is designed to meet the needs of executives who have responsibility for their organization’s asset management and leasing strategies as well as individuals who play an integral role in the leasing process for office, industrial, and retail space and buildings.
<br>
The program will examine key issues, emerging trends and practices, and discuss effective strategies in today’s markets.
</p>
<br>
<h3>Sep 27 - Sep 28, 2017: <a href="http://bomacanada.ca/bomex/">BOMEX 2017</a></h3>
<p class="blogloca">Metro Toronto Convention Centre, Toronto</p>
<p class="p-events">This is your opportunity to be part of Canada’s premier conference for Commercial Real Estate (CRE) professionals. Join BOMA Toronto as we celebrate our 100th anniversary as proud hosts of Canada’s 27th annual BOMEX conference on September 27-28, 2017 at the Metro Toronto Convention Centre, North Building.
<br>Delegates will enjoy educational sessions led by industry thought leaders, tours of some of Toronto’s most unique and sustainable properties and invaluable networking opportunities with CRE professionals across all asset classes. Highlights include our keynote speaker, Mark Shapiro, President and CEO of the Toronto Blue Jays, a candid conversation with C-Suite Industry Leaders and the celebration of industry achievements at the National Awards Gala.
</p>
<br>
<h3>Oct 2 - Oct 3, 2017: <a href="http://www.realpac.ca/events/EventDetails.aspx?id=935965&group=">2017 Commercial Real Estate Law</a></h3>
<p class="blogloca">Toronto</p>
<p class="p-events">Commercial real estate is an industry where law and business are intertwined. Title and tenure, planning and land use regulation, and legal contracts such as leases, purchase agreements, construction contracts, loan documents and development agreements play a major role in creating cash flows, reducing risk, ensuring compliance, and ensuring desirable outcomes. Get it wrong, and losses and costs can mount and risks can increase. Understand the legal side, and avoid or substantially reduce risk in real estate transactions.
<br>
This course will focus on the legal underpinnings of real estate, regulatory controls over real estate, and legal best practice in effecting transactions including purchase and sale, leasing, financing, construction and development.
</p>
<br>
<h3>Oct 14 - Oct 18, 2017: <a href="http://www.ccim.com/networking/meetings/fall2017/">Annual Governance Meetings 2017</a></h3>
<p class="blogloca">Westin Harbour Castle, Toronto</p>
<p class="p-events">The 2017 Annual Governance Meetings are taking place at the Westin Harbor Castle in Toronto. The governance meetings, held twice a year, are held to address topics that affect the industry, our members, and the organization. In addition to committee meetings, the governance meetings also provide networking and training for its attendees.
</p>
<br>
<h3>Oct 17, 2017: <a href="http://www.realestateforums.com/ottawaref/">Ottawa Real Estate Forum</a></h3>
<p class="blogloca">Ottawa Conference &amp; Event Centre, Ottawa</p>
<p class="p-events">The 23rd annual Ottawa Real Estate Forum will continue the tradition of providing valuable insights on the market trends, issues, strategies, and opportunities in Canada’s National Capital Region. Discussion will focus on what is facilitating growth in Canada’s sixth largest real estate market and how it is continuing to perform from a leasing, investment and development perspective.
<br>The program in Ottawa will offer a range of panel discussions and sessions on the office market in the National Capital Region; the federal government’s real estate strategy for this market; development activity; how the retail, industrial, apartment and condominium markets are performing; what the future holds for older B and C class buildings; and an update on key infrastructure projects.
<br>Discussion will also focus on what engines of the local economy are creating growth in the Ottawa market.
</p>
<br>
<h3>Oct 26 - Oct 28, 2017: <a href="http://www.sior.com/conferences/2017-fall-world-conference">2017 SIOR Fall World Conference</a></h3>
<p class="blogloca">Chicago, Illinois</p>
<p class="p-events">The SIOR World Conferences have long been considered the most important events of the year for SIOR designees and others involved in the sale or lease of commercial real estate. SIOR's meet each spring and fall to increase their professionalism and enhance their business networks. The meetings include sophisticated educational programming, for which real estate continuing education credit is granted in many states, and they provide a variety of business and social opportunities.
In addition to providing timely educational programs, conferences are designed to help attendees connect, build strong relationships, and facilitate business and deal generation with other SIORs and industry colleagues and exhibitors, all while enhancing their knowledge of the latest trends.
</p>
<br>
<h3>Oct 30 - Oct 31, 2017: <a href="http://www.realpac.ca/events/EventDetails.aspx?id=894596&group=">2017 Capital Markets &amp; Investing In Commercial Real Estate</a></h3>
<p class="blogloca">Toronto</p>
<p class="p-events">The Real Estate capital markets have evolved over the past 15 years to include more sophisticated and diverse capital structures and investment opportunities in private and public markets, with institutional ownership taking on an increasing presence in the marketplace. Key players in the Real Estate sector have expanded to include mutual fund managers and equity capital markets participants along with the analyst community playing an active role, and public company managers and their boards placing increasing importance on sound corporate governance.
<br>This course will discuss various ways of raising capital across the Real Estate sector, REIT vs. corporate structures, the IPO process, related valuation and performance measurement concepts in the public markets, and current issues facing the capital markets with a focus on governance. In addition, this course will utilize a combination of lectures, guest speakers, and mini case studies designed to replicate actual day to day experiences of various market participants.
</p>
<br>
</div>
<p style="margin-bottom: 5%;">Want to share an event with your peers? Let us know at <a href="mailto:media@loricommercialinsider.com"> media@loricommercialinsider.com</a></p>

					<div>
						<p><b> Like what you see? Share it!</b></p>
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591526_social_3.png" alt="Facebook LORI Commercial" /></a>
						<a href="https://www.instagram.com/loricommercial/"><img class="icon-social" src="images/1491591542_social_6.png" alt="Instagram LORI Commercial" /></a>
						<a href="mailto:?&subject=Check out LORI Commercial's Latest Promotions!&body=I%20saw%20this%20link%20on%20LORI%20Commercial%20Insider%20and%20thought%20you%20would%20enjoy%20it!%0A%0Ahttp%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491591534_email.png" alt="Email LORI Commercial" /></a>
						<a href="https://twitter.com/home?status=Check%20out%20LORI%20Commercial%20Insider's%20Canada150%20promotion!%20http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594028_social_8.png" alt="Twitter LORI Commercial" /></a>
						<a href="https://plus.
						.com/share?url=http%3A//www.loricommercialinsider.com/currentpromotions"><img class="icon-social" src="images/1491594038_google.png" alt="Google Plus LORI Commercial" /></a>
						<a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//www.loricommercialinsider.com/currentpromotions&title=LORI%20Commercial%20Insider%20Canada150%20Promotions&summary=&source="><img class="icon-social" src="images/1491594780_social_7.png" alt="LinkedIn LORI Commercial" /></a>
						<a href="https://pinterest.com/pin/create/button/?url=http%3A//www.loricommercialinsider.com/currentpromotions&media=&description="><img class="icon-social" src="images/1491594019_pinterest.png" alt="Pinterest LORI Commercial" /></a>
					</div>
					</header>
					</section>
  				</article>
  			</div>

			<% include ../partials/mostrecent.ejs %>

		</div>
		<hr />
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="//loricommercialinsider.us14.list-manage.com/subscribe/post?u=40496f380b6ca4a192d0f410a&amp;id=4e6dfacf3f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Subscribe to our mailing list</label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_40496f380b6ca4a192d0f410a_4e6dfacf3f" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
		</div>

		<!--End mc_embed_signup-->
	</div>
</div>
<% include ../partials/footer.ejs %>
